$sm: 576px;
$md: 768px;
$lg: 996px;
$xl: 1200px;

$red: #B82B2B;
$red-25: rgba(184, 43, 43, 0.25);
$red-50: rgba(184, 43, 43, 0.50);
$red-75: rgba(184, 43, 43, 0.75);
$white: #FFFFFF;
$white-25: rgba(255, 255, 255, 0.25);
$white-50: rgba(255, 255, 255, 0.50);
$white-75: rgba(255, 255, 255, 0.75);
$black: #101010;
$black-25: rgba(16, 16, 16, 0.25);
$black-50: rgba(16, 16, 16, 0.50);
$black-75: rgba(16, 16, 16, 0.75);

$cubiz-bezier: cubic-bezier(0.39, 0.575, 0.565, 1);