._tedx_register_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;

    background: linear-gradient(-45deg, #860b0b, #350517, #000000, #c20909);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

._tedx_register_content {
    padding: 2rem;
    @include lg {
        padding: 2rem 4rem;
    }
    width: 80%;
    text-align: center;
    background-color: white;
    border-radius: 10px;

    @include md {
        width: 400px;
    }
    @include lg {
        width: 500px;
    }
    @include xl {
        width: 700px;
        padding: 3rem 2rem;
    }

    ._tedx_register_title {
        color: $black;

        h1 {
            font-size: 1.25rem;
            font-weight: 700;

            @include xl {
                font-size: 1.75rem;
            }

            span {
                color: red;
            }
        }
    }

    p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75rem;
        @include lg {
            font-size: 1rem;
        }

        a {
            color: #b11818;
        }
    }

    ._tedx_register_form_wrapper {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        input {
            display: block;
            width: 100%;
            padding: 1rem 1rem;
            margin: 1rem 0;
            outline: none;
            border: none;
            border-radius: 0.25rem;
            background-color: #dadada;
            box-sizing: border-box;

            &::placeholder {
                color: #666;
            }
        }

        select {
            display: block;
            width: 100%;
            padding: 1rem 1rem;
            margin: 1rem 0;
            outline: none;
            border: none;
            border-radius: 0.25rem;
            background-color: #dadada;
            appearance: none;
            cursor: pointer;
            color: #666;
            box-sizing: border-box;
        }

        .text-error {
            margin-top: -.5rem;
            display: block;
            text-align: left;
            font-size: .75rem;
            font-style: italic;
            color: $red;
        }

        ._tedx_form_group {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;

            @include md {
                grid-template-columns: repeat(2, 1fr);

                .firstName {
                    flex: 1;

                    @include md {
                        margin-right: 10px;
                    }
                }

                .lastName {
                    flex: 1;
                }
            }

            div {
                flex: 1;
            }
        }
    }

    ._tedx_submit_button button {
        display: inline-block;
        width: 100%;
        border: none;
        border-radius: 0.25rem;
        padding: 1rem 1rem;
        margin-top: 1rem;
        background-color: $red;
        color: white;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        transition: 0.4s $cubiz-bezier;

        &:hover {
            background: darken($red, 5%);
        }
    }
}
