._tedx_faq_content {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $white-50;
    @include lg {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem 0;
    }

    ._tedx_faq_qna_wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin-bottom: 1rem;

        @include lg {
            margin: 0;
            flex: 1;
        }

        ._tedx_faq_number {
            text-align: left;
            flex: 0;
            font-size: .8rem;
            line-height: 2;
            order: 1;
            @include lg {
                order: 0;
            }
        }
        
        ._tedx_faq_question {
            flex: 1;
            font-size: 1rem;
            line-height: 1.5;
            text-align: left;
            @include lg {
                margin: 0 50px;
            }
        }
    }

    ._tedx_faq_answer {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
        font-size: 0.8rem;
        @include lg {
            font-size: 1rem;
            flex: 1;
            text-align: left;
        }
    }
}
._tedx_faq_question {
    position: relative;
    display: inline-block;

    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 10%;
    //     top: 10%;
    //     transform: translate(1rem, 0);
    //     width: 70%;
    //     height: 100%;
    //     background: $red-50;
    //     z-index: -1;
    //     transition: 0.4s $cubiz-bezier;
    // }
}
