._tedx_tickets_info_wrapper {
    display: flex;
    flex-direction: column;

    @include lg {
        flex-direction: row;
        // align-items: center;
    }

    font-family: "Open Sans", sans-serif;
    ._tedx_tickets_user_user {
        // border: 1px solid green;
        @include lg {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    ._tedx_tickets_info_user {
        text-align: left;

        @include md {
            text-align: center;
        }

        @include lg {
            text-align: left;
        }
        ._tedx_tickets_info_user_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;

            @include lg {
                // grid-gap:3rem;
            }

            p {
                font-size: 0.75rem;
                
                position: relative;

                @include md {
                    font-size: 1rem;
                }
                @include lg {
                    font-size: 0.9rem;
                }
                @include xl {
                    font-size: 1rem;
                }


                &:nth-child(1)::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(1rem, 0);
                    width: 50%;
                    height: 50%;
                    background: $red-50;
                    z-index: -1;

                    @include md {
                        left: 20%;
                    }
                    @include lg {
                        width: 70%;
                        left: 0;
                    }

                }

                &:nth-child(2) {
                    width: auto;
                    display: inline-block;

                    margin-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid rgb(158, 158, 158);
                }
            }
        }
    }

    ._tedx_tickets_info_link {
        display: flex;
        justify-content: space-between;

        margin-top: 3rem;

        p {
            font-size: 0.75rem;

            @include md {
                font-size: 1rem;
            }
        }
    }

    ._tedx_tickets_info_link {
        @include lg {
            text-align: left;
        }
        
        p {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(1rem, 0);
                width: 100%;
                height: 50%;
                background: $red-50;
                z-index: -1;
            }

            @include lg {
                font-size: .75rem;
            }
        }
    }

    ._tedx_tickets_preview {
        margin-top: 55px;

        @include lg {
            margin: 0 100px;
            // margin-left: 50px;
        }
        ._tedx_ticket {
            order: 0;
            @include lg {
                &:last-child {
                    order: 1;
                }
            }
            background: linear-gradient(to left bottom, #1a1a1a, #111111);
            width: 100%;
            height: 180px;
            @include md {
                width: 100%;
                height: 320px;
            }
            @include lg {
                width: 576px;
            }
            @include xl {
                width: 780px;
            }
            border-left: 0.25rem solid $red;
            display: flex;
            justify-content: space-between;

            &_left {
                padding: 1rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;

                ._tedx_ticket_logo {
                    line-height: 0;

                    img {
                        width: 100px;
                        @include md {
                            width: 150px;
                        }
                    }
                }

                ._tedx_ticket_title {
                    h2 {
                        text-transform: uppercase;
                        font-size: 1rem;
                        @include md {
                            font-size: 1.5rem;
                        }
                        font-family: "Open Sans", sans-serif;
                        font-weight: 800;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-top: 1rem;

                        span {
                            color: $white-50;
                            font-size: 0.5rem;
                            @include md {
                                font-size: 1rem;
                            }
                            font-weight: 300;
                            font-family: "Open Sans", sans-serif;

                            &.dot {
                                display: inline-block;
                                width: 0.25rem;
                                height: 0.25rem;
                                border-radius: 50%;
                                background: $white-50;
                                margin: 0 0.5rem;
                            }
                        }
                    }
                }

                ._tedx_ticket_token {
                    color: $white;
                    font-size: 0.5rem;
                    @include md {
                        font-size: 1rem;
                    }
                    font-weight: 300;
                    font-family: "Open Sans", sans-serif;
                }
            }

            &_right {
                width: 250px;
                height: 100%;
                @include md {
                    width: 360px;
                }
                @include lg {
                    width: 420px;
                }
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;

                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}