// Base
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Layouts
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/hero";

._tedx {
  color: $white;
  background: $black;
  padding: 0 100px;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('/img/background/noise.svg') center center/cover fixed;
    z-index: -1;
  }
}

._tedx_about_section {
  position: relative;
  text-align: center;
  
  ._tedx_about_wrapper {
    position: relative;
    display: inline-block;
    border-top: 1px solid $red-50;
    border-bottom: 1px solid $red-50;
    padding-bottom: 80px;
    
    ._tedx_title_overlay {
      padding: 50px 0;
      position: relative;
      
      ._tedx_title_wrapper {
        overflow: hidden;

        h2 {
          color: $white-25;
          text-transform: uppercase;
          font-size: 10rem;
          font-weight: 800;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }

    ._tedx_title_text {
      position: absolute;
      width: calc(100% + 4rem);
      left: -2rem;
      top: 50%;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      text-align: left;
      
      h3 {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
      
      p {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
        text-transform: unset;
      }
    }
  }
}