// Base
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Layouts
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/hero";
@import "layouts/footer";

// Sections
@import "sections/videoTeaser";
@import "sections/speakerList";
@import "sections/animaArchetype";
@import "sections/ticketPurchase";

// Components
@import "components/cursor";
@import "components/link";
@import "components/menu";
@import "components/title";

// Pages
@import "pages/partners";
@import "pages/faq";

._tedx {
    position: relative;
    color: $white;
    background: $black;
    z-index: 1;
    padding: 0 25px;
    @include md { padding: 0 50px; }
    @include lg { padding: 0 75px; }
    @include xl { padding: 0 100px; }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("/img/background/noise.svg") center center/cover fixed;
        z-index: -1;
    }
}

._tedx_section { text-align: center; }

._tedx_section_about_cta {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include md { flex-direction: row; }
    align-items: center;
    justify-content: space-between;
}