._tedx_link {
  position: relative;
  display: inline-block;

  &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(1rem, 0);
      width: 100%;
      height: 50%;
      background: $red-50;
      z-index: -1;
      transition: 0.4s $cubiz-bezier;
  }

  &:hover::after {
      left: 0;
  }

  &:hover a {
      color: $white;
  }

  a {
      color: $white-50;
      font-family: "Open Sans", sans-serif;
      font-size: .75rem;
      @include md { font-size: 1rem; }
      font-weight: 300;
      text-decoration: none;
      transition: 0.4s $cubiz-bezier;
  }
}