._tedx_menu_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: $black;
    pointer-events: none;
    opacity: 0;
    transition: .4s $cubiz-bezier;

    ._tedx_menu_container {
        display: flex;
        flex-direction: column;
        @include lg { flex-direction: row; }
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        background: #000;

        ._tedx_main_links {
            text-align: center;
            @include lg { text-align: left; }

            ._tedx_link_wrapper {
                overflow: hidden;
                padding: .25rem 0;
                @include lg { padding: .5rem 0; }
                margin: 1rem 0;
                @include lg { margin: 2rem 0; }

                a {
                    display: inline-block;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 2rem;
                    @include lg { font-size: 4rem; }
                    font-weight: 300;
                    text-decoration: none;
                    color: $white-50;
                    transition: .4s $cubiz-bezier;
                    cursor: none !important;
    
                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        ._tedx_sub_links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-content: center;
            text-align: center;
            grid-gap: 1rem;
            @include lg {
                display: block;
            }

            div {
                margin: 2rem 0;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                
                h4 {
                    color: $white;
                    font-size: 1rem;
                    @include lg { font-size: 1.25rem; }
                }

                ul {
                    margin-top: 1rem;
                    @include lg { margin-top: 2rem; }

                    li {
                        margin: .5rem 0;
                        @include lg { margin: 1rem 0; }

                        a {
                            color: $white-50;
                            font-size: .75rem;
                            @include lg { font-size: 1rem; }
                            text-decoration: none;
                        }
                    }
                }

                button {
                    appearance: none;
                    outline: none;
                    background: none;
                    border: none;
                    font-size: 1rem;
                    font-weight: 300;
                    font-family: 'Open Sans', sans-serif;
                    color: $white-50;
                    transition: .4s $cubiz-bezier;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        .separator {
            border-left: .5px solid $white-50;
            border-radius: 100px;
            height: 0;
            width: 100%;
            @include lg {
                height: 100%;
                width: 0;
            }
        }
    }
}