@import url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap);

@font-face {
  font-family: "Manifestasi";
  src: url("/fonts/tedx/Web Font/Manifestasi Bold WEB.woff") format("woff"), url("/fonts/tedx/Web Font/Manifestasi Bold WEB.woff2") format("woff");
}

@font-face {
  font-family: "Stamp One";
  font-weight: 100;
  src: url("/fonts/stamp/Stamp RSPK One v1.010/StampRSPKOne-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Stamp One";
  font-weight: 200;
  src: url("/fonts/stamp/Stamp RSPK One v1.010/StampRSPKOne-Light.otf") format("opentype");
}

@font-face {
  font-family: "Stamp One";
  font-weight: 300;
  src: url("/fonts/stamp/Stamp RSPK One v1.010/StampRSPKOne-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Stamp One";
  font-weight: 400;
  src: url("/fonts/stamp/Stamp RSPK One v1.010/StampRSPKOne-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Stamp One";
  font-weight: 500;
  src: url("/fonts/stamp/Stamp RSPK One v1.010/StampRSPKOne-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Stamp One";
  font-weight: 600;
  src: url("/fonts/stamp/Stamp RSPK One v1.010/StampRSPKOne-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Stamp One";
  font-weight: 700;
  src: url("/fonts/stamp/Stamp RSPK One v1.010/StampRSPKOne-Heavy.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.ButtonFetch {
  color: #109CF1;
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  margin: auto;
}

.ButtonFetch:hover {
  color: #0d8ddb;
}

.Notes-Title {
  max-height: 100px;
  flex: 1;
  color: #323C47;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  overflow: auto;
}

.Notes-Info {
  border-top: 1px solid #EBEFF2;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Notes-Info .Notes-Email {
  color: #707683;
  font-size: 0.8rem;
  font-weight: 300;
  flex: 1;
}

.Notes-Info .Notes-Created {
  color: rgba(76, 88, 98, 0.5);
  font-size: 0.8rem;
  font-weight: 300;
}

.Notes-Info .Notes-Created span {
  color: #4C5862;
}

.Notes-Status {
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Notes-Status .Status {
  color: #FFFFFF;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 1rem;
  transition: 0.4s ease-out;
}

.Notes-Status .Status--verified {
  background: #2ED47A;
}

.Notes-Status .Status--rejected {
  background: #F7685B;
}

.Notes-Status .Status--pending {
  background: #109CF1;
}

.Notes-Status .Actions {
  color: #C2CFE0;
}

.Notes-Status .Actions i {
  margin-left: 0.5rem;
  transition: 0.4s ease-out;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s ease-out;
}

.Notes-Status .Actions i.fa-times:hover {
  color: #F7685B;
}

.Notes-Status .Actions i.fa-check:hover {
  color: #2ED47A;
}

.Jamboards-Note:hover .Actions i {
  opacity: 1;
}

.Header {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.Header .Nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .Header .Nav {
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .Header .Nav {
    padding: 2rem 4rem;
  }
}

.Header .Nav .Nav-Logo {
  width: 8rem;
}

@media only screen and (min-width: 992px) {
  .Header .Nav .Nav-Logo {
    width: 12rem;
  }
}

.Header .Nav .Nav-Links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.Header .Nav .Nav-Links li a {
  position: relative;
  color: #000;
  font-family: "Stamp One", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 992px) {
  .Header .Nav .Nav-Links li a {
    font-size: 1rem;
    margin-left: 1rem;
  }
}

.Header .Nav .Nav-Links li a:hover::after {
  width: 0.25rem;
  height: 0.25rem;
}

.Header .Nav .Nav-Links li a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 100%);
  width: 0;
  height: 0;
  background: #000;
  border-radius: 50%;
  transition: 0.2s ease-out;
}

.Header .Main {
  width: 100%;
  height: auto;
  position: relative;
  line-height: 0;
}

.Header .Main-Img-Desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .Header .Main-Img-Desktop {
    display: block;
  }
}

.Header .Main-Img-Mobile {
  display: block;
}

@media only screen and (min-width: 768px) {
  .Header .Main-Img-Mobile {
    display: none;
  }
}

.Header .Main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Footer {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .Footer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .Footer {
    height: 100vh;
  }
}

.Footer-Deco {
  flex: 1;
  order: 2;
  padding: 0;
  line-height: 0;
}

@media only screen and (min-width: 768px) {
  .Footer-Deco {
    order: 2;
    padding: 0 2rem 0 0;
  }
}

.Footer-Deco img {
  width: 100%;
  height: auto;
}

.Footer-Content {
  flex: 1;
  order: 1;
  margin: 0;
  padding: 0 2rem 1rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .Footer-Content {
    order: 2;
  }
}

@media only screen and (min-width: 768px) {
  .Footer-Content {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .Footer-Content {
    padding: 0 4rem 0 0;
    align-self: center;
  }
}

.Footer-Content .Footer-Links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

@media only screen and (min-width: 992px) {
  .Footer-Content .Footer-Links {
    grid-gap: 1rem;
  }
}

.Footer-Content .Footer-Links h3 {
  font-family: "Manifestasi", sans-serif;
  font-size: 1.5rem;
}

@media only screen and (min-width: 992px) {
  .Footer-Content .Footer-Links h3 {
    font-size: 2rem;
  }
}

.Footer-Content .Footer-Links ul {
  list-style-type: none;
  font-family: "Stamp One", sans-serif;
  margin-top: 1rem;
}

.Footer-Content .Footer-Links ul li {
  font-size: 1rem;
  margin: 0.5rem 0;
}

@media only screen and (min-width: 992px) {
  .Footer-Content .Footer-Links ul li {
    font-size: 1.25rem;
  }
}

.Footer-Content .Footer-Links ul li a:hover {
  text-decoration: underline;
}

.Footer-Content .Footer-Banner {
  margin: 2rem 0;
  padding: 0;
  font-family: "Stamp One", sans-serif;
  font-size: 1.25rem;
}

@media only screen and (min-width: 992px) {
  .Footer-Content .Footer-Banner {
    font-size: 1.5rem;
  }
}

.Footer-Content .Footer-Extra {
  font-family: "Stamp One", sans-serif;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media only screen and (min-width: 992px) {
  .Footer-Content .Footer-Extra {
    font-size: 1.25rem;
  }
}

.Landing {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: url("/img/backgrounds/background.jpg") center top/cover;
}

.Landing .Section {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: auto;
  padding: 2rem 0;
}

@media only screen and (min-width: 768px) {
  .Landing .Section {
    align-items: center;
  }
}

.Landing .Section--Elaborasi {
  justify-content: flex-start;
}

.Landing .Section--Lokarona {
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .Landing .Section {
    min-height: 100vh;
    padding: 0l;
  }
}

.Landing .Section .Elaborasi-Background {
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .Landing .Section .Elaborasi-Background {
    top: -10%;
  }
}

@media only screen and (min-width: 992px) {
  .Landing .Section .Elaborasi-Background {
    top: -15%;
  }
}

.Landing .Section .Elaborasi-Background img {
  width: 100%;
  height: auto;
}

.Landing .Section .Elaborasi-Section,
.Landing .Section .Lokarona-Section {
  position: relative;
  z-index: 2;
  width: 75%;
  height: auto;
  margin: 0;
  padding: 0.5rem 1rem;
}

@media only screen and (min-width: 768px) {
  .Landing .Section .Elaborasi-Section,
  .Landing .Section .Lokarona-Section {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .Landing .Section .Elaborasi-Section,
  .Landing .Section .Lokarona-Section {
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .Landing .Section .Elaborasi-Section,
  .Landing .Section .Lokarona-Section {
    padding: 2rem 4rem;
  }
}

.Landing .Section .Elaborasi-Section .Section-Title,
.Landing .Section .Lokarona-Section .Section-Title {
  color: #010202;
  font-family: "Manifestasi", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .Landing .Section .Elaborasi-Section .Section-Title,
  .Landing .Section .Lokarona-Section .Section-Title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .Landing .Section .Elaborasi-Section .Section-Title,
  .Landing .Section .Lokarona-Section .Section-Title {
    font-size: 4rem;
  }
}

.Landing .Section .Elaborasi-Section .Section-Text,
.Landing .Section .Lokarona-Section .Section-Text {
  color: #010202ee;
  font-family: "Stamp One", sans-serif;
  font-size: 0.8rem;
  margin: 1rem 0 2rem;
}

@media only screen and (min-width: 768px) {
  .Landing .Section .Elaborasi-Section .Section-Text,
  .Landing .Section .Lokarona-Section .Section-Text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .Landing .Section .Elaborasi-Section .Section-Text,
  .Landing .Section .Lokarona-Section .Section-Text {
    font-size: 1.25rem;
  }
}

.Landing .Section .Elaborasi-Section .Section-Link,
.Landing .Section .Lokarona-Section .Section-Link {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #010202ee;
  border-radius: 0.5rem;
  outline: none;
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 1rem;
  padding: 0.75rem 1.25rem;
  font-family: "Stamp One", sans-serif;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .Landing .Section .Elaborasi-Section .Section-Link,
  .Landing .Section .Lokarona-Section .Section-Link {
    font-size: 1rem;
  }
}

.Landing .Section .Elaborasi-Deco,
.Landing .Section .Lokarona-Deco {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  z-index: 1;
}

.Landing .Section .Lokarona-Deco {
  left: 0;
  width: 25%;
}

.ElaborasiEkspresi {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: url("/img/elaborasi/bg.jpg") center top/cover;
}

.ElaborasiEkspresi .Section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem;
}

@media only screen and (min-width: 992px) {
  .ElaborasiEkspresi .Section {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  .ElaborasiEkspresi .Section {
    padding: 0 4rem;
  }
}

.ElaborasiEkspresi .Section .Section-Content {
  position: relative;
  z-index: 2;
  width: 80%;
}

.ElaborasiEkspresi .Section .Section-Content h1 {
  font-family: "Manifestasi", sans-serif;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .ElaborasiEkspresi .Section .Section-Content h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .ElaborasiEkspresi .Section .Section-Content h1 {
    font-size: 6rem;
  }
}

.ElaborasiEkspresi .Section .Section-Content p {
  font-family: "Stamp One", sans-serif;
  font-size: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .ElaborasiEkspresi .Section .Section-Content p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .ElaborasiEkspresi .Section .Section-Content p {
    font-size: 2rem;
  }
}

.ElaborasiEkspresi .Section .Section-Deco {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 40%;
  z-index: 1;
}

.ElaborasiEkspresi .Section .Section-Deco-Alt {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -15%);
  width: 100%;
  z-index: 1;
}

.ElaborasiEkspresi .Section .Section-Deco-Alt2 {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%);
  width: 25%;
  z-index: 1;
  display: none;
}

@media only screen and (min-width: 768px) {
  .ElaborasiEkspresi .Section .Section-Deco-Alt2 {
    display: block;
  }
}

.ElaborasiEkspresi .Section-Ketentuan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ElaborasiEkspresi .Section-Ketentuan img {
  width: 100%;
  height: auto;
  transform: translateY(0);
}

@media only screen and (min-width: 768px) {
  .ElaborasiEkspresi .Section-Ketentuan img {
    transform: translateY(25vh);
  }
}

.ElaborasiEkspresi .Section-Koneksi,
.ElaborasiEkspresi .Section-Panduan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.Lokarona {
  --bg: linear-gradient(145deg, rgb(5, 5, 5), rgb(10, 10, 10));
  --cl: #FEFAFA;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
  background: #000000;
  color: var(--cl);
}

.Lokarona-Preload {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.Lokarona-Preload .ml13 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

@media only screen and (min-width: 768px) {
  .Lokarona-Preload .ml13 {
    font-size: 2rem;
  }
}

.Lokarona-Preload .ml13 .letter {
  display: inline-block;
}

.Lokarona-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .Lokarona-Header {
    flex-direction: row;
  }
}

.Lokarona-Title {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .Lokarona-Title {
    margin-bottom: 0;
  }
}

.Lokarona-Title .ml7 {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.Lokarona-Title .ml7 .text-wrapper {
  position: relative;
  padding-right: 0.5rem;
  display: inline-block;
  overflow: hidden;
}

.Lokarona-Title .ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  padding-right: 2px;
}

.Lokarona-InputSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.75rem 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.4s ease-out;
}

@media only screen and (min-width: 768px) {
  .Lokarona-InputSearch {
    width: auto;
  }
}

.Lokarona-InputSearch.active {
  border-bottom: 1px solid #FEFAFA;
}

.Lokarona-InputSearch input {
  order: 2;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  color: #FEFAFA;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.4s ease-out;
}

.Lokarona-InputSearch input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.Lokarona-InputSearch input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.Lokarona-InputSearch input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.Lokarona-InputSearch i {
  order: 1;
  color: rgba(255, 255, 255, 0.25);
  font-size: 1rem;
  margin-right: 0.75rem;
  transition: 0.4s ease-out;
}

.Lokarona-InputSearch.active i {
  color: #FEFAFA;
}

.Lokarona-Body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 1rem;
  justify-items: center;
}

.Lokarona-Card {
  opacity: 0;
  -webkit-animation: fadeInUp 1s ease-out both;
          animation: fadeInUp 1s ease-out both;
  -webkit-animation-delay: var(--delay);
          animation-delay: var(--delay);
  transition: 0.4s ease-out;
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-areas: "title title" "email created";
  grid-gap: 1rem;
  font-family: "Lato", sans-serif;
}

.Lokarona-Card--Title {
  grid-area: title;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  overflow: auto;
}

.Lokarona-Card--Email,
.Lokarona-Card--Created {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: flex-end;
}

.Lokarona-Card--Email {
  grid-area: email;
  justify-content: flex-start;
}

.Lokarona-Card--Created {
  grid-area: created;
  justify-content: flex-end;
}

.Lokarona-ButtonCreate {
  --dimension: 100px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.05);
  color: #FEFAFA;
  border: none;
  border-radius: 100%;
  outline: none;
  width: var(--dimension);
  height: var(--dimension);
  cursor: pointer;
  transition: 0.4s ease-out;
}

.Lokarona-ButtonCreate:hover {
  transform: translate(-50%, 50%) scale(1.1);
}

.Lokarona-ButtonCreate::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  filter: blur(20px);
  z-index: 9;
  transition: 0.4s ease-out;
}

.Lokarona-ButtonCreate i {
  font-size: 1.25rem;
  transform: translate(0, -22px);
  transition: 0.4s ease-out;
}

.Lokarona-ButtonCreate i.focus {
  transform: translate(0, -22px) rotate(45deg);
}

.Lokarona-FormCreate {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -100px);
  width: 300px;
  height: auto;
  padding: 1.5rem 1rem;
  background: #1B2B42;
  color: #FEFAFA;
  border-radius: 0.5rem;
}

.Lokarona-FormCreate .FormGroup {
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
}

.Lokarona-FormCreate .FormGroup label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.Lokarona-FormCreate .FormGroup textarea,
.Lokarona-FormCreate .FormGroup input {
  resize: vertical;
  background: #273851;
  color: #FEFAFA;
  font-family: inherit;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  margin: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.Lokarona-FormCreate .FormGroup input[type=color] {
  height: 2rem;
  padding: 0.25rem 0.5rem;
}

.Lokarona-FormCreate .FormGroup span {
  color: #c91919;
  font-size: 0.75rem;
}

.Lokarona-FormCreate button[type=submit] {
  cursor: pointer;
  background: #449278;
  color: #FEFAFA;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  margin: 0;
  padding: 0.75rem 0.75rem;
  border-radius: 0.25rem;
  transition: 0.4s ease-out;
}

.Lokarona-FormCreate button[type=submit]:hover {
  background: #3c816a;
}

.Auth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("/img/auth/login_bg.png") center center/cover fixed;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.Auth-Form {
  width: auto;
  height: auto;
  padding: 2rem;
  margin: 0;
  background: #FFFFFF;
  border-radius: 0.75rem;
}

@media only screen and (min-width: 576px) {
  .Auth-Form {
    padding: 2.5rem;
  }
}

.Auth-Form .Form-Group {
  margin-bottom: 1rem;
}

.Auth-Form span {
  color: #d12323;
  font-size: 0.8rem;
  font-style: italic;
}

.Auth-Form input {
  display: block;
  width: 200px;
  height: auto;
  padding: 0.75rem;
  border: 1px solid #d5dadf;
  border-radius: 0.25rem;
  outline: none;
  background: none;
  transition: 0.4s ease-out;
}

.Auth-Form input:focus {
  border-bottom: 1px solid #334D6E;
}

.Auth-Form input::-moz-placeholder {
  color: #d5d5d5;
}

.Auth-Form input:-ms-input-placeholder {
  color: #d5d5d5;
}

.Auth-Form input::placeholder {
  color: #d5d5d5;
}

@media only screen and (min-width: 576px) {
  .Auth-Form input {
    width: 300px;
    padding: 1rem;
  }
}

.Auth-Form input.is-invalid {
  border: 1px solid #d12323;
}

.Auth-Form button {
  background-color: #334D6E;
  color: #FFFFFF;
  display: block;
  width: 100%;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  transition: 0.4s ease-out;
}

@media only screen and (min-width: 576px) {
  .Auth-Form button {
    padding: 1rem;
  }
}

.Auth a {
  color: #FFFFFF;
  text-decoration: underline;
  margin-top: 1rem;
}