#animaArchetype {
    user-select: none;
    margin: 50px 0;
    @include md { margin: 0 0 150px; }
    
    ._tedx_archetype {
        padding: 100px;
        @include md { padding: 0; }
        height: auto;
        @include md { height: 100vh; }
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    #drag-container,
    #spin-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    #drag-container img {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 200px;
        font-size: 50px;
        text-align: center;
        cursor: none;
        // pointer-events: all;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-box-shadow: 0 0 8px #fff;
        box-shadow: 0 0 8px #fff;
        -webkit-box-reflect: below 10px
            linear-gradient(transparent, transparent, #0005);
    }

    #drag-container img:hover {
        -webkit-box-shadow: 0 0 15px #fffd;
        box-shadow: 0 0 15px #fffd;
        -webkit-box-reflect: below 10px
            linear-gradient(transparent, transparent, #0007);
    }

    #drag-container .text {
        color: #fff;
        text-align: center;
        font-family: Serif;
        font-size: .75rem;
        @include md { font-size: 1.25rem; }
        position: absolute;
        top: 100%;
        left: 50%;
        min-width: 320px;
        -webkit-transform: translate(-50%, -50%) rotateX(90deg);
        transform: translate(-50%, -50%) rotateX(90deg);
        cursor: none;
    }

    #ground {
        width: 900px;
        height: 900px;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotateX(90deg);
        transform: translate(-50%, -50%) rotateX(90deg);
        background: -webkit-radial-gradient(
            center center,
            farthest-side,
            #9993,
            transparent
        );
    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }
        to {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
    }

    @keyframes spin {
        from {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }
        to {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
    }
    @-webkit-keyframes spinRevert {
        from {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
        to {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }
    }
    @keyframes spinRevert {
        from {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
        to {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }
    }
}
