#coreTeams {
  @include md { padding-bottom: 150px; }
  
  .container {
      position: relative;
      width: 320px;
      margin: 100px auto 0 auto;
      perspective: 1000px;
      transform: scale(0.4);
      @include md { transform: scale(0.6); }
      @include lg { transform: scale(0.8); }
    }
    
    .carousel {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d; 
      animation: rotate360 60s infinite forwards linear;
    }
    .carousel__face { 
      position: absolute;
      width: 150px;
      height: 187px;
      top: 20px;
      left: 75px;
      right: 75px;
      display: flex;
      overflow: hidden;

      img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          filter: grayscale(1);
          transition: .4s $cubiz-bezier;
      }

      &:hover img {
          filter: grayscale(0);
      }

      div {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          width: 100%;
          opacity: 0;
          transition: .4s $cubiz-bezier;

          h1 {
              font-size: 1rem;
              color: $white;
              text-shadow: 0 2px 8px rgb(184, 45, 45);
            }
            
            p {
              font-size: .75rem;
              color: $white;
              text-shadow: 0 2px 8px rgb(184, 45, 45);
          }
      }

      &:hover div {
          opacity: 1;
          transform: translate(-50%, 0);
      }
    }
    
    @for $i from 1 through 16 {
        .carousel__face:nth-child(#{$i}) {
            transform: rotateY($i * 22.5deg) translateZ(430px);
        }
    }
    
    
    
    @keyframes rotate360 {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(-360deg);
      }
    }      
}