#speakerList {
    margin: 50px 0;
    @include md {
        margin: 150px 0;
    }

    ._tedx_speaker_container {
        display: flex;
        flex-direction: column;
    }

    ._tedx_speaker_wrapper {
        display: block;
        @include md {
            display: flex;
        }
        justify-content: space-between;
        margin: 0 -12.5px;
        @include md {
            margin: 0 -25px;
        }
        @include lg {
            margin: 0 -37.5px;
        }
        @include xl {
            margin: 0 -50px;
        }

        ._tedx_speaker_profile {
            flex: 1;
            position: relative;
            border-radius: 1rem;
            margin: 0 12.5px;
            @include md {
                margin: 0 25px;
            }
            @include lg {
                margin: 0 37.5px;
            }
            @include xl {
                margin: 0 50px;
            }

            ._tedx_speaker_image {
                width: 100%;
                height: 240px;
                @include md {
                    height: 360px;
                }
                @include lg {
                    height: 400px;
                }
                @include xl {
                    height: 576px;
                }
                border-radius: 1rem;
                position: relative;

                &.reveal {
                    visibility: hidden;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center top;
                        transform-origin: left;
                    }
                }
            }

            ._tedx_speaker_title {
                position: absolute;
                left: 1rem;
                bottom: 1rem;
                width: calc(100% - 2rem);

                display: none;
                @include md {
                    display: block;
                }

                @include xl {
                    left: 2rem;
                    bottom: 2rem;
                    width: calc(100% - 4rem);
                }

                div {
                    overflow: hidden;

                    h1 {
                        display: inline-block;
                        padding: 1rem;
                        background: rgba(0, 0, 0, 0.5);
                        border-radius: 0.5rem;
                        white-space: nowrap;
                        color: $white;
                        font-size: 1rem;
                        @include lg {
                            font-size: 1rem;
                        }
                        font-weight: 800;
                        font-family: "Playfair Display", serif;
                    }
                }
            }
        }

        ._tedx_speaker_detail {
            opacity: 0;
            margin: 0 12.5px;
            @include md {
                margin: 0 25px;
            }
            @include lg {
                margin: 0 37.5px;
            }
            @include xl {
                margin: 0 50px;
            }
            max-width: 100%;
            @include md {
                max-width: 240px;
            }
            @include lg {
                max-width: 360px;
            }
            height: 240px;
            @include md {
                height: 360px;
            }
            @include lg {
                height: 400px;
            }
            @include xl {
                height: 576px;
            }
            display: flex;
            flex-direction: column;
            overflow: auto;

            &_title {
                margin-top: 1rem;
                @include md {
                    margin: 0;
                }
                padding: 0.5rem 0;
                overflow: hidden;

                h1 {
                    font-size: 1.5rem;
                    @include md {
                        font-size: 1.25rem;
                    }
                    @include lg {
                        font-size: 2rem;
                    }
                    font-weight: 800;
                    font-family: "Playfair Display", serif;
                }
            }

            &_name {
                margin: .5rem 0;
                @include md {
                  margin: 1rem 0;
                }
                @include lg {
                    margin: 2rem 0;
                }
                padding: 0.5rem 0;
                overflow: hidden;

                h2 {
                    font-size: 0.8rem;
                    @include lg {
                        font-size: 1rem;
                    }
                    font-weight: 300;
                    font-family: "Open Sans", sans-serif;

                    em {
                        font-style: italic;
                    }
                }
            }

            &_description {
                flex: 1;
                overflow: auto;

                p {
                    font-size: 0.75rem;
                    @include lg {
                        font-size: 0.8rem;
                    }
                    font-weight: 300;
                    font-family: "Open Sans", sans-serif;
                    line-height: 1.5;
                }
            }
        }
    }

    ._tedx_speaker_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
        @include xl {
            grid-template-columns: repeat(4, 1fr);
        }
        grid-gap: 1rem;
        @include lg { grid-gap: 2rem; }
        margin-top: 2rem;
        @include md { margin-top: 50px; }

        ._tedx_speaker_avatar {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            opacity: 0;

            img {
                width: 1.75rem;
                height: 1.75rem;
                @include md {
                    width: 3rem;
                    height: 3rem;
                }
                @include lg {
                    width: 4rem;
                    height: 4rem;
                }
                border-radius: 50%;
                object-fit: cover;
            }

            ._tedx_speaker_info {
                margin-left: 1rem;

                h1 {
                    color: $white;
                    font-size: 0.8rem;
                    @include md { font-size: 1rem; }
                    font-weight: 400;
                    font-family: "Playfair Display", serif;
                }

                p {
                    margin-top: 0.5rem;
                    color: $white-50;
                    font-size: 0.75rem;
                    @include md { font-size: 0.8rem; }
                    font-weight: 300;
                    font-family: "Open Sans", sans-serif;
                }
            }
        }
    }
}
