#videoTeaser {
    margin: 50px 0;
    @include md { margin: 150px 0; }
    
    ._tedx_video_teaser {
        position: relative;
        height: auto;
        @include md { height: 100vh; }
        padding: 0 1rem;
        display: grid;
        place-content: center;

        ._tedx_video_mask {
            width: 80vw;
            height: 80vh;
            background: url(/img/teaser.png);
            background-size: cover;
            background-position-x: 50%;
            background-position-y: 90%;
            background-size: 100%;
            border-radius: 1rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $black-50;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            ._tedx_video_text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 1;
                opacity: 0;
                transition: 0.4s $cubiz-bezier;

                h1 {
                    font-size: .75rem;
                    @include md { font-size: 1rem; }
                    font-weight: 300;
                    font-family: "Open Sans", sans-serif;
                    letter-spacing: 4px;

                    span {
                        color: $red;
                    }
                }

                h2 {
                    font-size: 2rem;
                    @include md { font-size: 4rem; }
                    font-weight: 800;
                    font-family: "Open Sans", sans-serif;
                    text-transform: uppercase;
                    margin: 1.5rem 0;
                }

                button {
                    border-radius: 100px;
                    border: none;
                    outline: none;
                    appearance: none;
                    background: $red-50;
                    color: $white;
                    font-size: .75rem;
                    @include md { font-size: 1rem; }
                    font-weight: 300;
                    font-family: "Open Sans", sans-serif;
                    display: inline-block;
                    padding: 0.5rem 1.25rem;
                    transition: 0.4s $cubiz-bezier;

                    &:hover {
                        background: $red;
                    }
                }
            }
        }
    }
}


#videoPlayer {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    transform: scale(0) translateY(100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .90);

    video,
    iframe {
        width: 80%;
        height: 80%;
        border: .5rem solid $white;
        outline: .25rem solid $red;
        outline-offset: .25rem;
    }

    .close-video-player {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        background: $red-50;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: $white-50;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;

        &:hover {
            color: $white;
        }

        span {
            transform: translateY(-.5rem);
        }
    }
}