._tedx_section_teams ._tedx_section_title h2 {
  font-size: 3rem !important;
  @include md { font-size: 6rem !important; }
  @include lg { font-size: 8rem !important; }
  @include xl { font-size: 10rem !important; }
}
#volunteerTeams {
  
  ._tedx_volunteer_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include md { grid-template-columns: repeat(2, 1fr); }
    place-items: center;
    text-align: center;

    ._tedx_team_container {
      margin-bottom: 2rem;
    }

    h2 {
      font-family: 'Playfair Display';
      font-size: 1.15rem;
      @include md { font-size: 1rem; }
      @include lg { font-size: 1.5rem; }
      font-weight: 800;
      text-transform: uppercase;
    }

    ul {
      margin-top: 2rem;

      li {
        margin: .5rem 0;
        @include lg { margin: 1rem 0; }
        font-size: .75rem;
        @include md { font-size: .85rem; }
        @include lg { font-size: 1rem; }
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }
    }
  }
}