._tedx_hero_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  @include md { padding: 150px 0; }
  @include lg {
    display: flex;
    height: 100vh;
    padding: 0;
  }
}

._tedx_hero_title {
  flex: 1;

  ._tedx_hero_title_container {
    font-family: 'Open Sans', sans-serif;

    ._tedx_subtitle {
      margin: 1.5rem 0;

      h2 {
        font-weight: 300;
        font-size: 0.75rem;
        @include md { font-size: 1rem; }
        letter-spacing: 1px;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        padding: .25rem 0;
        transform-origin: 0 50%;
      }
    }

    ._tedx_register_cta {
      margin-top: 1.75rem;

      a {
        display: inline-block;
        border: 1px solid $white;
        border-radius: .25rem;
        padding: .75rem 1.25rem;
        color: inherit;
        font-size: .75rem;
        @include md { font-size: 1rem; }
        font-weight: 300;
        text-decoration: none;
        transition: .4s $cubiz-bezier;

        &:hover {
          background: $white;
          color: $black;
        }
      }
    }
  }
}

._tedx_hero_asset {
  flex: 1;
  position: relative;
  text-align: center;
  margin: 50px 0;
  @include md { margin: 0; }

  ._tedx_hero_asset_container {
    display: inline-block;
    width: 300px;
    height: 300px;
    @include md {
      width: 500px;
      height: 500px;
    }
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .close {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    @include md { transform: translate(-50%, 50%); }
    z-index: 1;
  }
  
  .line-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 75%);
  }
  
  .text {
    position: absolute;
    white-space: nowrap;
    left: 1rem;
    bottom: 0;
    transform: translate(0, 50%);
    overflow: hidden;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    @include md { font-size: 1rem; }
  }
}

._tedx_hero_icons {
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  display: none;
  @include lg { display: flex; }

  a {
    display: inline-block;
    margin: .5rem 0;
    color: $white-50;
    transition: .4s $cubiz-bezier;

    &:hover {
      color: $white;
      transform: translateX(-.5rem);
    }

    i {
      width: 1rem;
      height: auto;
    }
  }
}