._tedx_navigation_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include md { padding: 50px 0; }

  ._tedx_logo_container {
    line-height: 0;

    img {
      width: 100px;
      @include lg { width: 200px; }
    }
  }

  ._tedx_menu_container {
    display: inline-block;
  }
}